<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="<%= typeof description !== 'undefined' ? description : 'Gerold - Personal Portfolio' %>" />

    <!-- Site Title -->
    <title><%= typeof title !== 'undefined' ? title : 'Gerold - Personal Portfolio' %></title>

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="/assets/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome-pro.min.css">
    <link rel="stylesheet" href="/assets/css/flaticon_gerold.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/backToTop.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/odometer-theme-default.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/light-mode.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>